# Python/Django
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.sqlite3

# React
node_modules/
build/
*.log

# Frontend build and dependencies
frontend/node_modules/
frontend/build/

# Local DB
db.sqlite3
